$orangered: orangered;
$deepskyblue: deepskyblue;
$icons: ("eye": "\f112", "start": "\f12e", "stop": "\f12f");

$theme-colors: (
    "primary": $orangered,
    "secondary": $deepskyblue,
    "tertiary": #6c757d,
    "success": green,
    "info": blue,
    "warning": yellow,
    "danger": red,
    "light": #f8f9fa,
    "dark": #343a40
)